extends frame

block append head
	script.
		window.Init = !{JSON.stringify(locals.user)};
		window.Init.version = "!{locals.version}";
	link( href="/css/styles.css?v" + locals.version, rel="stylesheet" )
	script( src="/js/vendor/jquery.mmenu.js?v" + locals.version )
	script( src="/js/vendor/require.js?v" + locals.version, data-main="/js/main.js?v" + locals.version )
	
	script
		:coffee
			$ ->
				$('#menu').mmenu(
					zposition: "next"
				)
				return


block frameContent
	nav#menu

		h4.lead= locals.apptitle
			span.version= locals.version
		//- a.user-short.label.label-primary(
		//- 	title="LOGOUT - " + user.name
		//- 	href="/exit"
		//- 	data-toggle="tooltip"
		//- 	data-placement="left"
		//- 	data-bypass="true"
		//- )= user.short

		#menuitems		
				

	#page( data-userid=id )
		#container
			block Content
		a#open-icon-header( href="#menu" )
			i( class=[ "icon", "icon-white", "icon-ellipsis-vertical" ] )