
extends contentlayout

block name
	= title

block content
	- var states = [ "NEW", "REJECTED", "ACCEPTED", "WORKING", "OPENREPLY", "CLOSED" ]
	- var stateIdx = states.indexOf( state )

	a.btn.pull-right.btn-default( href="/tickets/edit/" + id ) bearbeiten
	.user-short.label.label-primary(
		title=user.name
		data-toggle="tooltip"
		data-placement="left"
	)
		if user.short
			= user.short
		else
			| --
	p= desc

	hr

	ul.stateprocess
		each item, i in states
			li(
				style= "width:" + 100/states.length + "%"
				class= stateIdx == i ? "active" : stateIdx >= i ? "done" : "open"
			)= item


	.panel.panel-default
		.panel-heading
			.panel-title Kommentare

		ul.panel-body#comments

		.panel-footer
			form( role="form" )#addcoment
				.form-group
					textarea#ticket-desc.form-control( name="content", placeholder="Ticket Kommentar ..." )= desc
					p.help-block Es kann die Markdown Syntax verwendet werden

				button.btn.btn-primary.btn-sm.pull-right( type="submit" ) Kommentieren

	hr

	a.btn.btn-default( href="/tickets" ) zurück
