
extends contentlayout

block name
	= title

block content
	- var states = [ "NEW", "PENDING", "ACCEPTED", "WORKING", "NEEDANSWER", "REPLIED", "CLOSED" ]
	- var stateIdx = states.indexOf( state )

	ul.stateprocess
		each item, i in states
			li(
				style= "width:" + 100/states.length + "%"
				class= stateIdx == i ? "active" : stateIdx >= i ? "done" : "open"
				title=item
				data-toggle="tooltip"
				data-placement="bottom"	
			)
				span.short= item[0]
				span.long= item

	//h3.title= title

	p.desc= desc

	h4.comments Kommentare

	#comments

	form( role="form" )#addcoment
		.form-group
			textarea#ticket-desc.form-control( name="content", placeholder="Ticket Kommentar ..." )= desc
			small.help-block Es kann die Markdown Syntax verwendet werden

		case state
			when "NEW"			
				button.btn.btn-default.btn-sm.pull-right( type="submit" ) Akzeptieren / Kommentieren
			when "ACCEPTED"			
				button.btn.btn-primary.btn-sm.pull-right( type="submit" ) Frage stellen
		button.btn.btn-default.btn-sm.pull-right( type="submit" ) Kommentieren

block header
	if editor
		.editor.label.label-primary(
			title=editor.name
			data-toggle="tooltip"
			data-placement="left"
		)= editor.short


block footer
	section.footer
		a.btn.btn-link( href="/tickets" ) zurück
		a.btn.btn-default.pull-right( href="/tickets/edit/" + id ) bearbeiten

		a.btn.btn-danger.pull-right( href="/tickets/edit/" + id + "/close" ) schließen