
extends contentlayout

block name
	= title

block content
	- var states = [ "NEW", "PENDING", "ACCEPTED", "WORKING", "NEEDANSWER", "REPLIED", "CLOSED" ]
	- var stateIdx = states.indexOf( state )

	ul.stateprocess
		each item, i in states
			li(
				style= "width:" + 100/states.length + "%"
				class= stateIdx == i ? "active" : stateIdx >= i ? "done" : "open"
				title=item
				data-toggle="tooltip"
				data-placement="bottom"	
			)
				span.short= item[0]
				span.long= item

	h3.title= title

	.desc
		!= desc

	.infos
		span.time 
			i.icon.icon-time
			| geändert #{changed}

		span.author 
			span.label.label-default
				if author.short
					= author.short
				else
					| --
			= author.name
	
	h4.comments Kommentare

	#comments

	form( role="form" )#addcoment
		.form-group
			textarea#comment-content.form-control( name="content", placeholder="Ticket Kommentar ..." )
			small.help-block Es kann die Markdown Syntax verwendet werden

		button.btn.btn-default.btn-sm.pull-right.savebtn( type="submit", data-loading-text="Loading..." ) Kommentieren
		//- case state
		//- 	when "NEW"			
		//- 		button.btn.btn-success.btn-sm.pull-right( type="submit" ) Akzeptieren / Kommentieren
		//- 	when "ACCEPTED"			
		//- 		button.btn.btn-primary.btn-sm.pull-right( type="submit" ) Frage stellen

block header
	if editor
		.editor.label.label-primary(
			title=editor.name
			data-toggle="tooltip"
			data-placement="left"
		)= editor.short


block footer
	if this.Init.uid == editor.id && state != "NEEDANSWER"
		section.footer.footer-state
			case state
				when "ACCEPTED"			
					.footer-left
						button.btn.btn-danger.btn-block.setstate( data-loading-text="Loading...", data-state="CLOSED", data-toggle="deletebutton", data-confirm-text="Wirklich schließen?" ) Ticket schließen
					.footer-right
						button.btn.btn-success.btn-block.setstate( data-loading-text="Loading...", data-state="WORKING" ) STARTEN
				when "WORKING"			
					.footer-left
						button.btn.btn-danger.btn-block.setstate( data-loading-text="Loading...", data-state="CLOSED", data-toggle="deletebutton", data-confirm-text="Wirklich schließen?" ) Ticket schließen
					.footer-right
						button.btn.btn-primary.btn-block.setstate( data-loading-text="Loading...", data-state="NEEDANSWER" ) Antwort benötigt

				when "REPLIED"
					.footer-left
						button.btn.btn-danger.btn-block.setstate( data-loading-text="Loading...", data-state="CLOSED", data-toggle="deletebutton", data-confirm-text="Wirklich schließen?" ) Ticket schließen
					.footer-right
						button.btn.btn-success.btn-block.setstate( data-loading-text="Loading...", data-state="WORKING" ) Wieder STARTEN
	else if this.Init.role == "DEVELOPER" && stateIdx <= 1 
		section.footer.footer-state
			case state
				when "NEW"
					button.btn.btn-success.btn-block.setstate( data-loading-text="Loading...", data-state="ACCEPTED" ) Akzeptieren
				when "PENDING"
					button.btn.btn-success.btn-block.setstate( data-loading-text="Loading...", data-state="ACCEPTED" ) Akzeptieren
	else if state == "NEEDANSWER" && this.Init.uid == author.id
		section.footer.footer-state
			button.btn.btn-success.btn-block.setstate( data-loading-text="Loading...", data-state="REPLIED" ) beantwortet
	//- else if stateIdx > 1 && state != "NEEDANSWER"
	//- 	section.footer.footer-state
	//- 		button.btn.btn-danger.btn-block.setstate( data-loading-text="Loading...", data-state="CLOSED", data-toggle="deletebutton", data-confirm-text="Wirklich schließen?" ) Ticket schließen
	else
		section.footer.footer-state
			p.info Keine Status Änderungen zulässig


	section.footer
		a.btn.btn-default( href="/tickets" ) zurück
		a.btn.btn-info.pull-right( href="/tickets/edit/" + id ) bearbeiten