case state
	when "NEW"
		span.state.state-new(
			title=state
			data-toggle="tooltip"
			data-placement="right"
		)= state.split( "" )[ 0 ]
	when "PENDING"
		span.state.state-pending(
			title=state
			data-toggle="tooltip"
			data-placement="right"
		)= state.split( "" )[ 0 ]
	when "ACCEPTED"
		span.state.state-accepted(
			title=state
			data-toggle="tooltip"
			data-placement="right"
		)= state.split( "" )[ 0 ]
	when "WORKING"
		span.state.state-working(
			title=state
			data-toggle="tooltip"
			data-placement="right"
		)= state.split( "" )[ 0 ]
	when "NEEDANSWER"
		span.state.state-needanswer(
			title=state
			data-toggle="tooltip"
			data-placement="right"
		)= state.split( "" )[ 0 ]
	when "REPLIED"
		span.state.state-replied(
			title=state
			data-toggle="tooltip"
			data-placement="right"
		)= state.split( "" )[ 0 ]
	when "CLOSED"
		span.state.state-closed(
			title=state
			data-toggle="tooltip"
			data-placement="right"
		)= state.split( "" )[ 0 ]

a.title( href="/tickets/" + id )= title

if editor
	.user-short.label.label-primary.editor(
		title=editor.name
		data-toggle="tooltip"
		data-placement="left"
	)= editor.short

span.time 
	i.icon.icon-time
	| #{changed}

span.author 
	span.label.label-default
		if author.short
			= author.short
		else
			| --
	= author.name
